---
import config from "@/config/config.json";
import social from "@/config/social.json";
import Social from "@/components/Social.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { humanize, slugify } from "@/lib/utils/textConverter";

const posts = await getSinglePage("posts");
const sortedPosts = sortByDate(posts);

const authors = await getSinglePage("authors");
const author = authors.find((a) => slugify(a.data.title) === "shiragi");
const { title, meta_title, description, image } = author?.data ?? {
  title: "shiragi",
  meta_title: "",
  description: "",
  image: "/images/author.png",
};
---

<Base>
  <main class="flex flex-col items-center justify-center min-h-[80vh]">
    <img
      src={image}
      alt="Profile"
      class="w-40 h-40 rounded-full object-cover shadow-lg mb-8 bg-gray-100"
    />
    <h1 class="text-2xl page-heading h2 mb-8">
      {title}
    </h1>
    <div class="text-lg text-gray-600 mb-8 text-center">{description}</div>
    <div class="flex gap-8 mt-4">
      <Social source={social} className="social-icons-simple-large" />
    </div>
  </main>
</Base>
